/* Nav */
a{
    padding:0 20px
}

#container {
    padding: 25px;
}

/* Page Welcome */
#info {
    margin-bottom:45px;
}

#whydog div > img {
    width:550px
}

#whydog div > p, #living > p, #leave > p {
    font-size:1.4rem;
    text-align: justify;
}

/* Page Dashboard */
#search {
    text-align:center; 
}
#search div > input {
    border:1px solid #000;
    margin:15px 0 15px 0;
    padding: 0px 0 0 15px
}
#search div > button {
    display:block;
    margin:auto;
    position: static;
}
#petContent {
    border:1px solid #000;
    margin:40px auto;
    border-radius: 20px;
    background-color: rgb(53, 245, 53);
    padding:5px;
}
#infoUser div > img {
    border-radius:100%
}
#infoUser div > p {
    font-size:1.2rem;
    font-weight:bold;
    margin-left:15px
}
#infoUser div > p > span {
    font-size:.9rem;
    margin-left:25px
}

.imagePet {
    text-align:center
}
.contact {
    text-align:center
}
.contact p > strong {font-weight:bold;}

/* page create pet */
#create-pet div label {
    font-size:1.4rem;
}
#create-pet div > input, textarea {
    padding: 0 0 0 20px;

}

#create-pet div > button {
    display:block;
    margin:25px auto auto auto
}

#create-pet form div > div {
    margin-top:25px
}

/* Page show pet user */


/* footer */
footer { margin-top:155px;}
@media screen and (min-width:760px) {
    footer {margin-top:355px}
}